* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    --primary: #7900FF;
    --secondry: ##548CFF;
    --light: ##CFFFDC;
    --ligt-blue: #93FFD8;
    --dark: #3E3E3E;
}

.container {
    width: 100%;
    padding: 0 7%;
}

.secondry-color {
    color: #548CFF;
}

.btn {
    padding: 12px 25px;
    background: #7900FF;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
}

.secondry-header {
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
}


/* start banner section */

.banner-section {
    height: 100vh;
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
}

.banner-left {
    width: 48%;
}

.banner-left .banner-headline {
    border-left: 5px solid var(--primary);
    padding-left: 15px;
    border-radius: 4px 0 0 4px;
}

.banner-headline h1 {
    font-family: Yeseva One;
    font-size: 60px;
    line-height: 80px;
}

.banner-left p {
    margin: 15px 0;
    font-size: 18px;
    line-height: 28px;
}

.banner-section .banner-right {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-right img {
    width: 70%;
}


/* start second section */

#card-section {
    height: 100vh;
    padding-top: 5%;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card-container .card-box {
    width: 32%;
    padding: 35px 20px;
    border-radius: 10px;
    background: var(--ligt-blue);
    margin-top: 45px;
}

.card-box img {
    width: 40%;
}

.card-box h4 {
    font-size: 24px;
    line-height: 36px;
    margin: 7px 0 14px 0;
}

.card-box p {
    font-size: 16px;
    line-height: 24px;
}


/* start third section css */

.hero-section {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    padding-bottom: 4%;
}

.hero-section .hero-img {
    width: 32%;
    position: relative;
}

.hero-section .hero-img img {
    width: 100%;
}

#third-bg-img {
    position: absolute;
    top: 93px;
    left: -70px;
    width: 150px;
    z-index: -1;
}

.hero-section .hero-content {
    width: 65%;
}

.hero-content h2 {
    font-size: 36px;
    margin-top: 30px;
}

.hero-content p {
    margin: 20px 0;
}


/* strat 4th section css */

#hero-bg-img {
    position: absolute;
    right: -65px;
    bottom: -55px;
    width: 150px;
    z-index: -1;
}


/* start 5th section css contact form */

#contact-section {
    height: 100vh;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.contact-container .hero-img {
    width: 47%;
}

.contact-container .hero-img img {
    width: 90%;
}

.contact-container .contact-form {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.contact-form label {
    display: block;
}

.contact-form input {
    width: 100%;
    padding: 8px 5px;
}

.contact-form input[type=text]:focus {
    border: var(--ligt-blue);
}

.contact-form .text-messege textarea {
    width: 100%;
    border-radius: 5px;
}

.submit input {
    text-align: center;
    background: var(--primary);
    border: none;
    color: #fff;
    border-radius: 5px;
}


/* end contact section  */


/* start footer section */

footer {
    padding-top: 3%;
    padding-bottom: 3%;
    background: #333;
    color: #fff;
}

.content-msg p {
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    font-family: Lobster;
}

footer p {
    text-align: center;
    margin: 20px 0;
}